@page {
    size: A4;
    margin: 2cm;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* For Normal Style */
@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 200 900;
    font-style: normal;
}

/* For Italic Style */
@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-Italic-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 200 900;
    font-style: italic;
}

body {
    font-family: Lato, Arial, sans-serif;
    line-height: 1.5;
    font-size: smaller;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
}

p {
    orphans: 3;
    widows: 3;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto; /* Adds vertical spacing and centers images */
}

pre, code, kbd, samp {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.95em;
}

/* Example of Setting Font Weight */
strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}
